<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.vova.applicant">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:name=".FabricApp">
        <activity android:name=".activities.CitiesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.CategoryUniversListActivity"/>
        <activity android:name=".activities.AboutUniversityActivity"/>
        <activity android:name=".activities.SpecialtiesListActivity"/>
        <activity android:name=".activities.ApplicationListActivity"/>
        <activity android:name=".activities.DetailUniversListActivity"/>
        <activity android:name=".activities.TimeFormListActivity"/>
        <activity android:name=".activities.DetailApplicantPagerActivity"/>
        <activity android:name=".activities.UniversitiesListActivity"/>
        <activity android:name=".activities.FavoriteItemsActivity"/>
        <activity android:name=".activities.ArchiveActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f21703667173d08989a946ece329f2f476f9a5df" />
    </application>

</manifest>